<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>춘천, 놀자!</title>
    <link rel="stylesheet" href="/style/market.css">
    <link rel="stylesheet" href="/style/marketHeader.css">
    <link rel="stylesheet" href="/style/marketnav.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/header_img.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>


    <div id='main_img'></div>

    <header>
        <a id="title" href="/">
            <img id='title_img' src="/img/header_img.png" alt="">
            <div id="title_name">쇼핑, 춘천!</div>
        </a>
        
        <ul id="nav">
            <li class="nav_li">                
                <a href="/intro">재래시장 소개</a>
            </li>
            <li class="nav_li">
                <a href="/rec">시장 AI추천</a>
            </li>
            
            
        </ul>
        
        <div class="header">
            <div class="menu_btn">
                <a href="#">
                    <img id="menu_img" src="/img/header_img.png">
                </a>
            </div>
        </div>
        <div class="menu_bg"></div>
        <div class="sidebar_menu">
            <div class="close_btn">
                <a href="#">
                    <img id="cancel" src="/img/cancel.png">
                </a>
            </div>
            <ul class="menu_wrap">
                <a href="./introduce.jsp"><li id="menu_first">웹페이지 소개</li></a>
                <a href="./place.jsp"><li id="menu_second">관광지 소개</li></a>
                
            </ul>
        </div>
        </header>
        <nav>
            <div id="plus_wrap">
                <a id="plus_content" href="#">세부 정보</a><span id="plus_content">></span><a id="plus_content" href="/intro">관광지 소개</a><span id="plus_content">></span><a id="plus_content" href="/">Main</a>            </div>
        </nav>
    
        <article>
            <div id="map_wrap">
                <img id="img" src="/img/<%=imgName%>" alt="">
                <iframe id="map" src="<%=url%>" 
                 allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="intro">
                <table id="ul_img">
                    <tr>
                        <th>시장명</th><td><%=데이터.시장명%></td>
                    </tr>
                    <tr>
                        <th>주소</th><td><%=데이터.소재지도로명주소%></td>
                    </tr>
                    <tr>
                        <th>상품권</th><td><%=데이터.사용가능상품권%></td>
                    </tr>
                    <tr>
                        <th>점포수</th><td><%=데이터.점포수%></td>
                    </tr>
                </table>
        </article>
    
    </body>
    <script src="/js/index_header.js"></script>
    </html>