<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑, 춘천!</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/indexHeader.css">
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/header_img.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>


    
    
    <div id='main_img'></div>

    <header>
        <a id="title" href="/">
            <img id='title_img' src="/img/header_img.png" alt="">
            <div id="title_name">쇼핑, 춘천!</div>
        </a>
        
        <ul id="nav">
            <li class="nav_li">                
                <a href="/intro">재래시장 소개</a>
            </li>
            <li class="nav_li">
                <a href="/rec">시장 AI 추천</a>
            </li>
            
            
        </ul>
        
            
    </header>
    <div id="main_title">
        <p id="main_sub">춘천에 오신 것을 환영합니다</p>
        <p id="main_main">춘천 재래시장 찾기</p>   
    </div>
    <nav>
        <div id="plus_wrap">
            <a id="plus" href="/intro">+</a>
            <a id="plus_content" href="/intro">더 보기</a>
        </div>
    </nav>

    <article>
        <a class="art_wrap" href="/market/0">
            <div class="art_img_wrap">
                <img class='art_img' src="/img/first.jpg" alt="이미지">
            </div>
            <div class="art_name"><p>춘천남부시장</p></div>
        </a>
        <a class="art_wrap" href="/market/1">
            <div class="art_img_wrap">
                <img class='art_img' src="/img/second.jpg" alt="이미지">
            </div>
            <div class="art_name"><p>춘천동부시장</p></div>
        </a>
        <a class="art_wrap" href="/market/2">
            <div class="art_img_wrap">
                <img class='art_img' src="/img/third.jpg" alt="이미지">
            </div>
            <div class="art_name"><p>춘천서부시장</p></div>
        </a>

        
        

    </article>


    <div id="weather">
        <div id="plus_wrap1">
            <p id="plus_content1">춘천 현재 날씨</p>
        </div>
        <table id="weather-table" class="table align-middle mt-1">
            <thead class="table-info">
            <tr>
                <th>시간</th>
                <% for(let i=0; i<hourly.length; i++) {%>
                <td><%= hourly[i][0] %>시</td>
                <% }%>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>온도</th>
                <% for(let i=0; i<hourly.length; i++) {%>
                <td><%= hourly[i][1] %>℃</td>
                <% }%>
            </tr>
            <tr>
                <th>체감온도</th>
                <% for(let i=0; i<hourly.length; i++) {%>
                <td><%= hourly[i][2] %>℃</td>
                <% }%>
            </tr>
            <tr>
                <th>습도</th>
                <% for(let i=0; i<hourly.length; i++) {%>
                <td><%= hourly[i][4] %>%</td>
                <% }%>
            </tr>
            <tr>
                <th>기상</th>
                <% for(let i=0; i<hourly.length; i++) {%>
                <td id="weatherTd"><%= hourly[i][3] %></td>
                <% }%>
            </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <div id="footer_content">
            <p id="footer_title">INFORMATION</p>
            <div id="footer_in_wrap">
                <div id="footer_in">
                    Developer : Kim Do Hyun<br>
                    E-mail : rlaehgusqp@naver.com<br>
                    GitHub : <a href="https://github.com/doggang">https://github.com/doggang</a><br> 
                    Position - FrontEnd
                </div>
                <div id="footer_in">
                    Developer : Park Ju Young<br>
                    E-mail : okmlnsunok@naver.com<br>
                    GitHub : <a href="https://github.com/mythpoy">https://github.com/mythpoy</a><br> 
                    Position - BackEnd
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="/js/index_header.js"></script>
</html>